@font-face {
    font-family: Muli;
    src: url(../fonts/muli.woff2);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Muli, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
#sfkb-fkb-logo_default {
    width: 10%;
    height: auto;
}
img {
    width: 100%;
}

img.map {
    display: block;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
}

img.map.active {
    opacity: 1;
    transition: opacity 2s;
    height: auto;
}


.container {
    max-width: 1200px;
    margin: 60px auto 0;
    padding: 30px 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    row-gap: 27px;
    column-gap: 27px;
}
.flex-item {
    position: relative;
}
.flex-column {
    flex-direction: column;
}

.paper {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    padding: 16px 32px;
}

.box {
    font-family: Muli, Verdana, sans-serif;
    text-align: center;
    border: none;
    font-size: 18px;
    background-color: #fff;
    width: 245px;
    padding: 30px 5px;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.box.active {
    transition: background-color 1s;
    background-color: #b2ff59;
    background-color: #d0ecd6;
}
button.box {
    cursor: pointer;
}
button.box:hover {
    background-color: #fafafa;
}

.dialog button {
    appearance: none;
    border: 0;
    outline: 0;
    line-height: 1.75;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    min-width: 64px;
    background-color: #156630;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 8px;
    font-size: 1rem;
}

.dialog button:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: #1a833b;
    text-decoration: none;
}

.dialog button:active {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: #05502a;
    text-decoration: none;
}

.arrow {
    width: 20px;
}
.map-container {
    width: 50%;
    border: 1px solid #999;
}

.map-container span {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    color: #fff;
    padding: 2px 30px;
}

.dialog {
    align-content: center;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 36px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.dialog.active {
    display: flex;
}

.dialog .dialog-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    max-width: 540px;
    overflow: auto;
    width: 100%;
    max-height: 100%;
    padding: 16px;
}
